<!DOCTYPE html>
<html>
<head>
    {{- partial "head.html" . }}
</head>
<body class="type-{{ .Type }} kind-{{ .Kind }}">
    {{- partial "navbar.html" . }}
    <main aria-role="main">
        {{- partial "header.html" . }}
        {{- block "main" . }}{{ end }}
        {{- partial "footer.html" . }}
    </main>
{{- range $.Site.Params.scripts }}
{{- $script := resources.Get (printf "js/%s" .) | resources.Minify | resources.Fingerprint "sha512" -}}
    <script
        type="text/javascript"
        src="{{ $script.Permalink }}"
        integrity="{{ $script.Data.Integrity }}"></script>
{{- end -}}
</body>
</html>
