{{- define "main" }}
{{ $pageTitle := .Title }}
{{- if .Content }}
<section class="section">
    {{.Content}}
</section>
{{- end }}
<section class="section">
    <div class="columns is-multiline">
    {{ range .Pages }}
        <div class="column is-12-mobile is-4-tablet is-3-desktop is-2-widescreen">
            <a href="{{ .Permalink }}">
                <div class="card">
                    {{ $image := printf "static/images/%s/%s.jpg" ($pageTitle | urlize ) (.Title | urlize) }}
                    {{ $thumbnail := printf "static/images/%s/thumbnails/%s.jpg" ($pageTitle | urlize ) (.Title | urlize) }}
                {{- if or (fileExists $image) (fileExists $thumbnail) }}
                    <div class="card-image">
                        <figure class="image">
                            {{ $i := replace $thumbnail "static" "" -}}
                            {{- if not (fileExists $thumbnail) -}}
                            {{- $i = replace $image "static" "" -}}
                            {{- end }}
                            <img src="{{ $i }}" alt="Placeholder image">
                        </figure>
                    </div>
                {{- end }}
                    <div class="card-content">
                        <h2 class="title is-5">{{ .Title }}</h2>
                    {{- if .Params.subtitle }}
                        <p class="subtitle is-6">{{ .Params.subtitle }}</p>
                    {{- end }}
                    </div>
                </div>
            </a>
        </div>
    {{ end }}
    </div>
</section>
{{- end }}{{/* end main */}}
