/** Styles **/

html, body {
    height: 100%;
}

/** Bulma overrides **/
.card {
    height: 100%;
}
.section {
    padding: 1.5rem 1.5rem;
}
.hero-body {
    padding: 1rem 3rem;
}

/** Home page **/
.kind-home .home-image img {
    max-width: 1000px;
}

/** State pages **/

.sidebar {
    float: right;
    margin: 2rem;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 5px;
}
.sidebar figure {
    margin: 0 !important;
}
.sidebar-section {
    font-size: 0.8rem;
    margin-bottom: 2rem;
    max-width: 250px
}
.sidebar-section:last-child {
    margin-bottom: 0;
}
.sidebar-section ul {
    list-style: none;
    margin: 0;
}
.map-thumbnail {
    width: 250px;
    height: 250px;
    cursor: pointer;
    background-position: top center;
    background-size: cover;
    border: 1px solid grey;
    border-radius: 5px;
}
.map-thumbnail img {
    vertical-align: bottom;
}
.map-thumbnail figcaption {
    padding-top: 0.5rem;
}
.map-modal .modal-content {
    width: 90%;
    max-width: 1500px;
}
